@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
$color-1: #0081AF;
$color-2: #00ABE7;
$color-3: #2DC7FF;
$color-4: #145F14;
$color-5: #04532E;
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #ffff;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    hr {
        margin-top: 50px;
    }
}
.cont-img {
    img {
        width: 100%;
        border-radius: 10px;
    }
}
.proyect-img {
    box-shadow: gray 0px 0px 30px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 30px;
    .img-proyect {
        border-radius: 5px;
        opacity: .5;
        width: 100%;
    }
    .img-proyect:hover {
        animation: anim-img-proeyect 1s forwards;
    }
}
.proyect-img:hover {
    animation: anim-cont-proeyect 1s forwards;
}
#btn-detalles {
    border: none;
    text-decoration: underline;
}
/*SKILLS*/
.skill {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    .tarjet-skill {
        padding: 10px;
        width: 30%;
        .img-skill {
            animation: anim-icon-skill 2s forwards;
            font-size: 100px;
            opacity: 0;
            margin-top: -200px;
        }
        .img-skill:hover {
            color: $color-1;
        }
        h6 {
            font-size: 25px;
        }
        .cont-skill-img {
            height: 100px;
            margin: 0px auto;
            margin-bottom: 20px;
            width: 100px;
        }
    }
}
#contacto {
    height: 400px;
    text-align: center;

    .icon-contacto {
        color: black;
        display: inline-block;
        font-size: 80px;
        margin-top: 120px;
        width: 30%;

    }
    .icon-contacto:hover {
        animation: anim-icon-contacto 0.3s both;
    }
}
/*<-------MediaQuery------->*/

@media (max-width:576px) {
    .skill {

        .tarjet-skill {
            width: 50%;
            h6 {
                font-size: 18px;
            }
        }
    }
    @keyframes anim-img {
        100% {
            opacity: 1;
            margin-top: 200px;
        }
    }
    @keyframes anim-img-sm {
        100% {
            opacity: 1;
            transform: translatey(100px);
        }
    }
}

/*---------Keyframes-------*/
@keyframes btn-animacion {
    100% {
        background-color: #038fc2;
    }
}
@keyframes d-x {
    100% {
        transform: rotate(40deg) translatex(35px) translateY(15px);
    }
}
@keyframes i-x {
    100% {
        transform: rotate(-45deg) translateX(-25px) translateY(-5px);
    }
}
@keyframes b-x {
    100% {
        width: 0px;
    }
}
@keyframes out-d-x {
    100% {
        transform: rotate(0deg) translatex(0px) translateY(0px);
    }
}
@keyframes out-i-x {
    100% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
}
@keyframes out-b-x {
    100% {
        width: 60px;
    }
}
@keyframes anim-cont-text {
    100% {
        opacity: 1;
        transform: translatey(200px);
    }
}
@keyframes anim-img {
    100% {
        opacity: 1;
        transform: translatey(150px);
    }
}
@keyframes anim-img-proeyect {
    100% {
        opacity: 1;

    }
}
@keyframes anim-cont-proeyect {
    100% {
        transform: perspective(600px) rotate3d(0, 0.2, 0, 45deg);

    }
}
@keyframes anim-icon-contacto {
    100% {
        color: $color-1;
    }
}

@keyframes anim-icon-skill {
    100% {
        opacity: 1;
        transform: translateY(60px);
    }
}